<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ws</title>
    <script type="application/javascript">
        // the number in the path is the id of a user
        let exampleSocket = new WebSocket("ws://localhost:3000/api/notifications/user/5acf0998cb70ea32d727b371");
        exampleSocket.onopen = function() {
          exampleSocket.send('hello from client');
        };
        exampleSocket.onmessage = (msg) => {
          console.log(msg);
        }
    </script>
</head>
<body>
loaded
</body>
</html>