<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        let source = new EventSource('/api/notifications/user/5acf0998cb70ea32d727b371');

        source.onerror = (event) => {
          console.error(event);
        };
        source.onmessage = (event) => {
          console.log(event);
        };
        source.onopen = (event) => {
          console.log(event);
        };
        // source.addEventListener('message', function(event) {
        //     console.log(event);
        // });
    </script>
</head>
<body>
loaded
</body>
</html>