<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ws</title>
    <script type="application/javascript">
        var exampleSocket = new WebSocket("ws://localhost:3000/api/games/5ae364e597f83626791eb1fb/regions");
        exampleSocket.onopen = function() {
          exampleSocket.send('hello from client');
        };
        exampleSocket.onmessage = (msg) => {
          console.log(msg);
          console.log(JSON.parse(msg));
        }
    </script>
</head>
<body>
loaded
</body>
</html>